{% extends 'base.html' %}
{% load static %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>About Me</h1>
    <div class="about">
        <img src="{% static 'img/memo.png'%}">
        <p>My name is Guillermo Isaac Jimenez Pinkus, most people call me Memo, and I'm currently studying Computer Science in Instituto Tecnológico de Tijuana. I like playing guitar, listening to music, and doing physical activites like running, hiking, playing tennis, and practicing calisthenics. I'm currently 21 years old and studying to become a full stack developer.</p>
    </div>
{% endblock content %}